
.v-onboarding-item, .v-onboarding-item__description  {
    background-color: rgb(var(--v-theme-surface));
    color: rgb(var(--v-theme-on-background));    
 }
 
 .v-onboarding-item__actions button.v-onboarding-btn-primary,
 .v-onboarding-item__actions button.v-onboarding-btn-primary:hover {
    background-color:rgb(var(--v-theme-primary));     
 }

 :root {
    --v-onboarding-overlay-z: 2500;
    --v-onboarding-step-z: 2600;
    --v-onboarding-step-arrow-background: rgb(var(--v-theme-primary));
    --v-onboarding-step-arrow-size: 16px;
 }
 