/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */
// https://next.vuetifyjs.com/features/sass-variables/`

@use 'vuetify/settings' with (
   $color-picker-swatch-margin-bottom: 0px,
   $color-picker-swatch-color-height: 24px,

   $tooltip-background-color: rgba(var(--v-theme-surface-variant), .95),
);
